<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.tta.mobile"
    android:installLocation="auto">

    <!-- Required by app for server communication and video download -->
    <!-- Required by Segment -->
    <!-- Required by NewRelic -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required by NewRelic -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required by app for preventing screen lock while playing a video -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required by app for storing downloaded videos to the external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required by app for capturing image -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Sticky broadcast passing a message from one screen and display on another -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <!-- TTA To download without notification -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!--required into assistant search-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->

    <!-- TTA: To listen boot completed -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--To read external file package-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- Setup for Code Coverage -->
    <instrumentation
        android:name="org.tta.mobile.instrumentation.EdxInstrumentation"
        android:targetPackage="org.tta.mobile" />

    <application
        android:name="org.tta.mobile.base.RuntimeApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:icon="@mipmap/tta_launcher"
        android:label="@string/app_name"
        tools:replace="android:supportsRtl"
        android:supportsRtl="${supportsRtl}"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.tta.mobile.view.DiscussionAddPostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/start_discussion"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.tta.mobile.view.DownloadListActivity"
            android:label="@string/title_download"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.tta.mobile.view.CropImageActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.tta.mobile.view.dialog.AuthenticatedWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <receiver android:name="org.tta.mobile.module.download.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- adb shell am broadcast -a org.tta.mobile.END_EMMA -->
        <receiver android:name="org.tta.mobile.instrumentation.EndEmmaBroadcast">
            <intent-filter>
                <action android:name="org.tta.mobile.END_EMMA" />
            </intent-filter>
        </receiver>


        <!-- TTA activities start -->

        <activity
            android:name="org.tta.mobile.tta.ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen.TaLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data
                    android:scheme="edx"
                    android:host="open" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <data android:mimeType="text/plain" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.tta.mobile.tta.ui.logistration.SigninRegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name="org.tta.mobile.tta.ui.launch.SwipeLaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"></activity>

        <activity
            android:name="org.tta.mobile.tta.ui.reset_password.EnterNumberActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name="org.tta.mobile.tta.ui.otp.OtpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="org.tta.mobile.tta.ui.reset_password.ResetPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="org.tta.mobile.tta.ui.landing.LandingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar" />

        <activity
            android:name="org.tta.mobile.tta.ui.logistration.UserInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="org.tta.mobile.tta.ui.course.CourseScormViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:keepScreenOn="true"
            android:label="Scorm"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.tta.mobile.tta.ui.connect.ConnectDashboardActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar" />

        <activity
            android:name="org.tta.mobile.tta.ui.deep_link.DeepLinkActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen.TaLaunch"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter
                android:label="@string/app_name"
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://connect.theteacherapp.org" -->
                <data
                    android:host="connect.theteacherapp.org"
                    android:scheme="http" />

                <!-- Accepts URIs that begin with "http://theteacherapp.org" -->
                <data
                    android:host="theteacherapp.org"
                    android:scheme="http" />

                <!-- Accepts URIs that begin with "http://www.theteacherapp.org" -->
                <data
                    android:host="www.theteacherapp.org"
                    android:scheme="http" />

                <!-- Accepts URIs that begin with "http://www.connect.theteacherapp.org" -->
                <data
                    android:host="www.connect.theteacherapp.org"
                    android:scheme="http" />

                <!-- for https -->


                <!-- Accepts URIs that begin with "http://connect.theteacherapp.org" -->
                <data
                    android:host="connect.theteacherapp.org"
                    android:scheme="https" />

                <!-- Accepts URIs that begin with "http://theteacherapp.org" -->
                <data
                    android:host="theteacherapp.org"
                    android:scheme="https" />

                <!-- Accepts URIs that begin with "http://www.theteacherapp.org/" -->
                <data
                    android:host="www.theteacherapp.org"
                    android:scheme="https" />

                <!-- Accepts URIs that begin with "https://www.connect.theteacherapp.org/" -->
                <data
                    android:host="www.connect.theteacherapp.org"
                    android:scheme="https" />
            </intent-filter>

        </activity>

        <activity
            android:name="org.tta.mobile.tta.ui.course.discussion.DiscussionThreadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar" />

        <activity
            android:name="org.tta.mobile.tta.ui.course.discussion.DiscussionCommentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar" />

        <activity
            android:name="org.tta.mobile.tta.ui.course.CourseDashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar" />

        <activity
            android:name="org.tta.mobile.tta.ui.profile.OtherProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar" />

        <activity
            android:name=".tta.ui.survey.UserSurveyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar" />

        <activity
            android:name=".tta.ui.certificate.CertificateActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar" />

        <activity android:name=".tta.ui.profile.certificate.CertificatesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar" />

        <!-- TTA activities end -->

        <!-- Setup Google -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- otp reading receiver no permission -->
        <receiver
            android:name="org.tta.mobile.tta.ui.otp.SmsModuleReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".tta.receiver.DeleteFeedsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_provider" />

        </provider>

        <service android:name="org.tta.mobile.services.DownloadSpeedService" />

        <!-- Notifications through Firebase Cloud Messaging (FCM) -->
        <!-- <service
            android:name="org.tta.mobile.notifications.services.NotificationService"
            android:enabled="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>-->
        <service
            android:name="org.tta.mobile.tta.firebase.TaFirebaseMessagingService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Job to sync analytics -->
        <service
            android:name=".tta.analytics.SyncAnalyticsJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".tta.service.PendingCertificateNotificationService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>


        <!-- Set the icon for notifications -->
        <!--        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        &lt;!&ndash; Set color used with incoming notification messages.  &ndash;&gt;
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/edx_brand_primary_accent" />-->

    </application>

</manifest>
